@font-face {
    font-family: "Nunito Sans";
    src: url("./assets/NunitoSans.ttf");
}

@font-face {
    font-family: "Amiri";
    src: url("./assets/Amiri-Bold.ttf");
}

:root {
  font-family: "Nunito Sans",system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


    --gradient-color: rgb(0, 0, 0);
    --bg-color: #121212;
    --border-color: #d1ac16;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --text-color: #e3e3e3;
    --p-color: #b0b0b0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Amiri", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 1px 1px 4px var(--shadow-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
    color: var(--p-color) !important;
    font-size: 1rem;
}

main {
    min-height: 100vh;
    margin-top: 70px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
    justify-content: center;
    align-items: center;
  min-width: 320px;
  min-height: 100vh;
    width: 100vw;
    height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.title__container {
    z-index: 11;
    position: relative;
}

.blog__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10vh 16%;
    justify-content: left;
}

.blog__main, .shop__main {
    background-image: url("https://cdn.hytale.com/5e7b9f8a50cbcd001176c5d7_16___library_at_dusk.jpg");
    min-height: 100vh;
    height: max-content;
    background-size: cover;
    position: relative;
}

.blog__main::after, .shop__main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #050505;
    opacity: 0.8;
    z-index: 1;
}

.shop__container {
    z-index: 800;
    max-width: 80vw;
}

hr {
    color: var(--border-color);
    box-shadow: 0 3px 8px var(--shadow-color);
    min-width: 100px;
    width: 40%;
    position: relative;
    z-index: 10;
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5em;
    }
}