body {
  background-color: rgb(21, 21, 22);
}
header {
  background-color: rgb(30, 30, 32);
  align-items: center;
  display: flex;
  height: 60px;
  padding: 0 80;
  flex-direction: row;
  justify-content: space-between;
}
header h1 {
  color: white;
  font-size: 24px;
  margin: 0;
}
