.banner {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/1.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.banner__logo {
    width: 60%;
    filter: drop-shadow(0 4px 6px var(--shadow-color));
}

.banner__button {
    background-color: var(--border-color);
    font-size: 20px;
    padding: 14px 32px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.25s ease;
    width: 20vw;
    box-shadow: 0 4px 10px var(--shadow-color);
    border: 4px solid #edcd27;
    text-transform: uppercase;
    color: #574c0f;
}

.banner__button:hover {
    background-color: #ffdd33;
    transform: translateY(-2px);
}

.banner__alert {
    background-color: var(--bg-color);
    padding: 8px 16px;
    border-radius: 10px;
    opacity: 0;
    margin: 0;
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 5vh;
    z-index: 10000;
}

.banner__alert--enabled {
    opacity: 1;
}
