.blog-miniature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20vw;
    background-color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px var(--shadow-color);
    margin: 20px;
    transition: box-shadow 0.2s;
    color: var(--text-color);
}

.blog-miniature:hover {
    box-shadow: 0 8px 20px var(--shadow-color);
    color: var(--text-color) !important;
}

.blog-miniature__image {
    max-width: 20vw;
    aspect-ratio: 16/9;
    border-radius: 10px 10px 0 0;
}

.blog-miniature__content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.blog-miniature__content * {
    margin: 4px 0;
}


.blog-miniature__content h2 {
    margin-top: 10px;
}


.blog-miniature__metadata {
    text-align: center;
    margin: 0;
    font-weight: bold;
}


.blog-miniature__description {
    color: #888888;
    text-align: justify;
    margin-top: 10px;
}

.type__Release {
    color: goldenrod;
}

.type__Update {
    color: greenyellow;
}

.type__Evento {
    color: deepskyblue;
}