
.entry__main {
    padding: 70px 20vw;
}

.entry__main * {
    width: 40vw;
    z-index: 10;
}

.entry__banner {
    aspect-ratio: 16/9;
    border-radius: 4px;
    box-shadow: 0 4px 10px var(--shadow-color);
    width: 70%;
    margin-top: 70px;
    max-width: 60vw;
}

.entry__main h3, .entry__main p {
    text-align: left;
}


@media (max-width: 480px) {
    .entry__banner {
        width: 100vw !important;
        max-width: 100vw;
        margin-top: 0;
        border-radius: 0;
    }

    .entry__main {
        padding-top: 0;
    }

    .entry__main * {
        width: 80vw;
    }

    .entry__main hr {
        width: 80%;
    }
}
